header#index_mobile{
  display: none;
}
header#index{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  width: 100%;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  height: 100px;
}
header{
  background-color: var(--main-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 6666666;
  width: 100%;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  height: 100px;
}
h1 a{
  text-decoration: none;
  display: inline-block;
  position: relative;
  color:white;
  font-style: normal;
}
h1 a:hover{
  text-decoration: none;
}
h1 a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  color: white;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
h1 a:hover:after{
  width: 100%;
  left: 0;
  color:var(--main-bg-color);
}
header div{
  width: 70%;
}
header div ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
header div#screen ul li{
}
header#index div ul li a{
  color:white;
  text-decoration: none;
  font-style: normal;
}
header#index div ul li a:hover{
  color:var(--main-bg-color);
  text-decoration: none;
}
header div ul li a{
  color:black;
  text-decoration: none;
  font-style: normal;
}
header div ul li a:hover{
  color:white;
  text-decoration: none;
}
#index.active {
  background-color: #6580f4;
}
/* REVIEW: media querries */
header#mobile{
  display: none;
}
/* REVIEW: // media querries */
