/* REVIEW: header */
header{
  display: none;
}
header#index_mobile{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  z-index: 6666666;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
  height: 100px;
}
header#index_mobile.active{
  background-color: #6580f4;
}
header#index_mobile div{
  color: white;
}
header#index_mobile.active div{
  color: white;;
}
header#index_mobile h1 a{
  color:white;
  font-style: normal;
  text-decoration: none;
}
header#index_mobile nav{
  position: absolute;
  width: 100%;
  height: calc(100vh - 100px);
  background: #333;
  top: 100px;
  left: -100%;
  transition: 0.5s;
}
header#index_mobile nav.active{
  left:0;
}
header#index_mobile nav ul{
  display: block;
  text-align: center;
}
header#index_mobile nav ul li{
  list-style: none;
  width: 90%;
}
header#index_mobile nav ul li a{
  text-transform: uppercase;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}
header#index_mobile nav ul li a:hover{
  color:#fff;
  background: #2196f3;
}
.menu-toggle{
  color: black;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: block;
}
/* REVIEW: //header  */
